includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - phpstan-baseline.neon
parameters:
  phpVersion:
    min: 70400
    max: 80400
  level: 8
  dynamicConstantNames:
    - YII_ENABLE_ERROR_HANDLER
    - YII_DEBUG
  bootstrapFiles:
    - tests/bootstrap.php
  scanFiles:
    - support/ide-helper.php
  excludePaths:
    - vendor
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Anonymous function has an unused use#'
